
@font-face{
    font-family: "Luna Bar";
    src: url(/fonts/LUNABAR_.TTF);
}

@font-face{
    font-family: "Castellar";
    src: url(/fonts/castellar-regular.ttf);
}
@font-face{
    font-family: "Copperplate Gothic Bold";
    src: url(/fonts/copperplategothic_bold.ttf);
}

:root{
    --primary: #2F4156;
}

.lunabar{
    font-family: 'Luna Bar';
}
.castellar{
    font-family: 'Castellar';
}
.copperplate{
    font-family: 'Copperplate Gothic Bold';
}

.img-header{
    object-fit: cover;
    object-position: center;
    height: 100vh;
}

.svg-header{
    width: 272px;
    transition: all 1s ease-in-out;
    background-color: var(--primary);
    border-radius: 50%;
}

.bg-primary{
    background-color: var(--primary) !important;
    color: #fff;
}
.prpld-brand{
    height: 199px;
}

.prpld-brand-propellor{
    z-index: 1;
    position: absolute;
    left: 19px; 
    top: 5px;
    transition: all 2s ease-out;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    rotate: 0deg;
}

.prpld-nav{
    color: #fff !important;
    font-family: 'Copperplate Gothic Bold';
}

.prpld-nav > a{
    color: #fff;
}

.prpld-nav > a.active{
    color: #fff !important;
}

.navbar-toggler-icon{
    background-image: url(/icons/menu.svg);
}



.prpld-header{
    position: relative;
    top: 35vh;
    z-index: 100;
}

.img-header-container{
    top: 0;
    padding: 0;
    position:absolute;
    margin-bottom: 10px;
}

main{
    margin-top: 100vh;
}


.sticky{
    top: 0;
    position: sticky;
  
}

.navbar-toggler{
    position: absolute;
    right: 0;
    margin-right: 1em;
}

.sticky .svg-header{
    width: 120px;
}

#at_1{
    animation: ease-out;
}

